<!DOCTYPE html>
<html>
  <head>
    <title>Game play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/three.min.js"></script>
  </head>
  <body>
    <h1>Game play</h1>
    <p>A jugar <%= gamer %>, has triat el joc <%= game %></p>
    <div id="TutContainer"></div>
    <script src="./javascripts/endless-runner-game.js"></script>
  </body>
</html>
