<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/three.min.js"></script>
    <script src="./javascripts/TrackballControls.js"></script>
    <script src="./javascripts/BufferGeometryUtils.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <script src="./javascripts/wh-cubes.js"></script>
    <div id="info">Magatzem de prova</div>
  </body>
</html>
