<!DOCTYPE html>
<html>
  <head>
    <title>Joc web 3D</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Benvingut al joc</h1>
    <form action="/name", method="post">
      Com et dius?
      <input type="text" name="name" value="Mickey">
      <input type="submit" value="Continua">
    </form>
  </body>
</html>
