<!DOCTYPE html>
<html>
  <head>
    <title>Warehouse Example</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="./javascripts/three.min.js"></script>
    <script src="./javascripts/TrackballControls.js"></script>
    <script src="./javascripts/BufferGeometryUtils.js"></script>
  </head>
  <body>
    <h1>Warehouse Example</h1>
    <p>3D Warehouse made with three.js</p>
    <script src="./javascripts/wh-cubes.js"></script>
    <div id="info">Magatzem de prova</div>
  </body>
</html>
